@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,700&display=swap');

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.boxContainer {
  background-color: white;
  margin-top: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: sticky;
  justify-content: space-between;
}

.boxHeader {
  background-color: white;
  background-image: url("images/header-shapes mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.boxConnect {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  margin: 0 8px;
  padding-top: 10px;
  display: flex;
}

.boxPar {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #344563;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
}

.boxHead {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 44px;
  font-weight: 800;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
  padding-top: 70px;
  display: flex;
}

.boxMenu {
  position: block;
  margin-top: 0;
  float: right;
}

header {
  margin-top: 0;
  margin-bottom: 70px;
  display: block;
}

.boxSocial {
  margin: 0 8px;
  display: flex;
  margin-top: 5px;
  list-style: none;
  padding: 5px;
  column-gap: 15px;
}

.works {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

.project {
  margin: 10px;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.tonic {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #172b4d;
  font-style: normal;
  display: flex;
  padding: 0;
  margin: 0;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #344563;
}

.cano {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #7a869a;
  display: inline-flex;
  gap: 30px;
  align-items: center;
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
}

.button1 {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 115px;
  color: #396df2;
  background-color: white;
  border: #396df2 solid 2px;
  border-radius: 10px;
  height: 50px;
}

.button1 :hover {
  color: #c16e3a;
}

.button2 {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 154px;
  color: #396df2;
  background-color: white;
  border: #396df2 solid 2px;
  border-radius: 10px;
  height: 50px;
}

.button:hover {
  color: #c16e3a;
}

.p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  padding: 0;
  margin: 5px;
}

.lang {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.lang li {
  background-color: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  padding: 4px 12px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
}

.about {
  display: flex;
  flex-direction: column;
  background-image: url(images/Base\ about\ my\ self.png);
  margin: 0;
  padding: 0;
}

.myself {
  color: #172b4d;
  width: 327px;
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  flex: none;
  padding-bottom: 20px;
}

.AboutMyself {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 580;
  line-height: 24px;
  text-align: left;
  color: #344563;
  width: 327px;
  height: 147px;
}

.langu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: -34px;
  padding: 0;
}

.langu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.languag li img {
  width: 100%;
}

.abo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.boxSociall {
  margin: 0 8px;
  display: flex;
  margin-top: 5px;
  list-style: none;
  padding: 5px;
  column-gap: 25px;
}

.milti {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 44px;
  color: #172b4d;
  text-align: left;
  padding: 5px;
  margin: 0;
}
