@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.boxContainer {
  background-color: white;
  margin-top: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: sticky;
  justify-content: space-between;
}

.boxHeader {
  background-color: white;
  background-image: url("images/header-shapes mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.boxConnect {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  margin: 0 8px;
  padding-top: 10px;
  display: flex;
}

.boxPar {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  color: #344563;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
}

.boxHead {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 44px;
  font-weight: 800;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
  padding-top: 70px;
  display: flex;
}

.boxMenu {
  position: block;
  margin-top: 0;
  float: right;
}

header {
  margin-top: 0;
  margin-bottom: 70px;
  display: block;
}

.boxSocial {
  margin: 0 8px;
  display: flex;
  margin-top: 5px;
  list-style: none;
  padding: 5px;
  column-gap: 15px;
}

.works {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

.project {
  margin: 24px;
  margin-bottom: 50px;
  padding: 16px;
  border-radius: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  font-family: 'Poppins', sans-serif;
}

.tonic {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #172b4d;
  font-style: normal;
  display: flex;
  margin: 0;
}

.list {
  display: flex;
  margin: 0;
}

.canopy {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #344563;
  width: 55px;
  height: 16px;
}

.cano {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #7a869a;
  display: inline-flex;
  gap: 30px;
  align-items: center;
}

.firstPara {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  padding-bottom: 12px;
  height: 76px;
}

.lang {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
  margin-right: 10px;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
}

.lang li {
  background-color: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  padding: 4px 12px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
}

.buttonButton1 {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 135px;
  color: #396df2;
  background-color: white;
  border: #396df2 solid 2px;
  border-radius: 10px;
  height: 50px;
  transition-duration: 0.5s;
  padding: 0;
}

.buttonButton1:hover {
  color: white;
  background-color: #396df2;
}

.buttonButton2 {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  width: 170px;
  color: #396df2;
  background-color: white;
  border: #396df2 solid 2px;
  border-radius: 10px;
  height: 50px;
  transition-duration: 0.5s;
  padding: 0;

}

.buttonButton2:hover {
  color: white;
  background-color: #396df2;
}

.about {
  display: flex;
  flex-direction: column;
  background-image: url(images/Base\ about\ my\ self.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  text-align: left;
  margin-left: -10px;
}

.section2 {
  display: flex;
  flex-direction: column;
  padding: 24px 114px 0 24px;
}

.myself {
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.AboutMyself {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  width: 327px;
  height: 147px;
}

.boxConnect2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  margin: 0;
  padding-top: 12px;
  display: flex;
  padding-bottom: 13px;
}

.boxSociall2 {
  margin: 0;
  display: flex;
  margin-top: 5px;
  list-style: none;
  padding-left: 5px;
  column-gap: 25px;
  padding-bottom: 13px;
}

.langu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: -34px;
  padding: 0;
}

.langu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.languag li img {
  width: 100%;
}
