
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,700&display=swap');


*{
  font-family: 'Poppins' sans-serif;
}

body {
 background-color: white;
 font-family: 'Poppins' sans-serif;
 background-size: contain;
 background: url("images/header-shapes mobile.png") no-repeat;
 height: 100vh;
 margin-bottom: 30px;
}

.boxContainer {
  margin-top: 0;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  /* top: 0; */
  overflow: visible;
  margin-right: 30px;
}

.boxHeader {
  /* background: url("images/header-shapes mobile.png") no-repeat; */
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.boxConnect {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #7f8cff;
  margin: 0 8px;
}

.boxPar {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  /* text-align: left; */
  color: #344563;
  /* justify-content: center; */
  margin-left: 8px;
  margin-right: 8px;
}

.boxHead {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

.boxMenu {
  /* background: #6070ff; */
  position: absolute;
  margin-top: 0;
  /* width: 18px;
  height: 12px; */
  /* justify-content: flex-end; */
}

.boxNav {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* padding: 10px 12px; */
  position: absolute;
  /* width: 100px; */
  /* height: 40px; */
  left: 12px;
  /* top: calc(50% - 40px / 2); */
}

header {
  margin-top: 0;
  margin-bottom: 70px;
}

.boxSocial {
  margin: 0 8px;
  margin-top: 5px;
}


  
