* {
  font-family: sans-serif;
}

body {
  background-color: #cccccc;
  width: 100%;
  height: 100%;
}

.container {
  background-color: aliceblue;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  top: 0;
  overflow: hidden;
  position: sticky;
}

.header {
  background-image: url("images\header-shapes mobile.png");
}
.connect {
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #7F8CFF;
}

.par {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #344563;
}

.head {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #172B4D;
}

.menu {
  background: #6070FF;
  position: absolute;
  width: 18px;
  height: 12px;
  justify-content: flex-end;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px/2);
}
