@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (min-width:768px) {
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #e5e5e5;
    }
  
    #navbar {
      padding: 40px;
      display: flex;
      justify-content: space-between;
      gap: 15px;
      top: 0;
      overflow: hidden;
      position: fixed;
    }

    .logo {
      text-decoration: none;
    }

  .nav-links {
      text-decoration: none;
      color: rgb(126, 34, 34);
      font-size: 20px;
      font-weight: 700;
    }
    a:hover {
      color: cyan;
    }
  
    .first {
      background-image: url(images/Header.svg);
      background-position: center 30px;
      background-size: contain;
      background-repeat: no-repeat;
      border-bottom-left-radius: 100px;
      background-color: #fff;
      height: 100vh;
      border: aquamarine 3px solid;
    }
  
    .boxHeader {
      margin: 0 auto;
      overflow: auto;
      padding: 0 ;
      border: 2px solid red;
    }
  
    .boxHeader .boxHead {
      margin-bottom: 20px;
      padding: 20% 7% 0 7%;
      border: solid darkblue 1px;
    }
  
    .boxHead h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      letter-spacing: 0.37px;
      color: #091e42;
    }
  
    .boxHead p {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #344563;
    }
  
    .boxConnect {
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #7f8cff;
      padding-top: 10px;
      display: flex;
    }
  
    .boxSocial {
      display: flex;
      margin-top: 5px;
      list-style: none;
      padding: 5px;
      column-gap: 15px;
    }
    
    
    .works {
      display: flex;
      flex-direction: column;
      text-align: left;
      border: #7f8cff dashed 3px;
    }
    
    .grid-container {
      margin: 4%;
    /* margin-bottom: 50px; */
    padding: 2%;
    border-radius: 3%;
    text-align: left;
    display: grid;
    background-color: white;
    grid-template-columns: auto auto auto;
    }
    
    .grid-item {
      display: flex;
      flex-direction: column;
      padding-top: 12px;
      }
    
      .grid-item2 {
        display: flex;
        flex-direction: column;
        padding-top: 12px;
        padding-left: 40px;
        }

    .tonic {
      font-size: 40px;
      font-weight: 700;
      text-align: left;
      color: #091e42;
      font-style: normal;
      display: flex;
      margin: 0;
      padding-bottom: 2%;
    }
    
    .list {
      display: flex;
      margin: 0;
      padding: 1% 0 2% 0;
    }
    
    .canopy {
      font-size: 18px;
      font-weight: 500;
      /* line-height: 16px; */
      text-align: left;
      color: #344563;
    }
    
    .cano {
      font-size: 18px;
    font-weight: 400;
    color: #6b778c;
    display: flex;
    gap: 26px;
    margin-left: 10%;
    }
    
    .firstPara {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #344563;
      padding: 3% 24% 4% 0%;
    }
    
    .lang {
      display: flex;
      list-style-type: none;
      text-decoration: none;
      /* padding-left: 0; */
      /* margin-right: 10px; */
      gap: 2%;
      /* font-family: 'Poppins', sans-serif; */
      /* font-style: normal; */
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.03em;
    }
    
    .lang li {
      background-color: #ebebff;
      border-radius: 10px;
      color: #6070ff;
      padding: 4px 12px;
      margin-bottom: 6%;
      font-size: 12px;
      font-weight: 500;
    }
    
    .buttonButton1 {
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: center;
      width: 135px;
      color: #396df2;
      background-color: white;
      border: #396df2 solid 2px;
      border-radius: 10px;
      height: 50px;
      transition-duration: 0.5s;
      padding: 0;
    }
    
    .buttonButton1:hover {
      color: white;
      background-color: #396df2;
    }
    
    .buttonButton2 {
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: center;
      width: 170px;
      color: #396df2;
      background-color: white;
      border: #396df2 solid 2px;
      border-radius: 10px;
      height: 50px;
      transition-duration: 0.5s;
      padding: 0;
    }
    
    .buttonButton2:hover {
      color: white;
      background-color: #396df2;
    }

    .project2 {
      margin: 4%;
    /* margin-bottom: 50px; */
    padding: 2%;
    border-radius: 3%;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: white;
    }
    
    .info2 {
      display: flex;
      flex-direction: column;
      padding-top: 12px;
      padding-left: 40px;
      font-family: 'Poppins', sans-serif;
    }
    
    .tonic2 {
      font-size: 40px;
      font-weight: 700;
      text-align: left;
      color: #091e42;
      font-style: normal;
      display: flex;
      margin: 0;
      padding-bottom: 2%;
    }
    
    .list2 {
      display: flex;
      margin: 0;
      padding: 1% 0 2% 0;
    }
    
    .canopy2 {
      font-size: 18px;
      font-weight: 500;
      /* line-height: 16px; */
      text-align: left;
      color: #344563;
    }
    
    .cano2 {
      font-size: 18px;
      font-weight: 400;
      color: #6b778c;
      display: flex;
      gap: 35px;
      margin-left: 5%;
    }
    
    .secondPara {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #344563;
      padding: 3% 24% 4% 0%;
    }
    
    .lang2 {
      display: flex;
      list-style-type: none;
      text-decoration: none;
      /* padding-left: 0; */
      /* margin-right: 10px; */
      gap: 2%;
      /* font-family: 'Poppins', sans-serif; */
      /* font-style: normal; */
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.03em;
    }
    
    .lang2 li {
      background-color: #ebebff;
      border-radius: 10px;
      color: #6070ff;
      padding: 4px 12px;
      margin-bottom: 6%;
      font-size: 12px;
      font-weight: 500;
    }
    
    .buttonButton1 {
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: center;
      width: 135px;
      color: #396df2;
      background-color: white;
      border: #396df2 solid 2px;
      border-radius: 10px;
      height: 50px;
      transition-duration: 0.5s;
      padding: 0;
    }
    
    .buttonButton1:hover {
      color: white;
      background-color: #396df2;
    }
    
    .buttonButton2 {
      font-family: 'Poppins', sans-serif;
      font-size: 17px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: center;
      width: 170px;
      color: #396df2;
      background-color: white;
      border: #396df2 solid 2px;
      border-radius: 10px;
      height: 50px;
      transition-duration: 0.5s;
      padding: 0;
    }
    
    .buttonButton2:hover {
      color: white;
      background-color: #396df2;
    }
    
    .about {
      display: flex;
      flex-direction: row;
      /* background-image: url(images/Base\ about\ my\ self.png); */
      /* background-repeat: no-repeat; */
      /* background-size: cover;
      border-radius: 4px; */
      text-align: left;
      margin-left: -10px;
      justify-content: space-around;
      padding: 90px
    }
    
    .section2 {
      display: flex;
      flex-direction: column;
      padding: 24px 114px 0 24px;
    }
    
    .myself {
      margin-bottom: 12px;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
      color: #172b4d;
    }
    
    .AboutMyself {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #344563;
      width: 327px;
      height: 147px;
    }
    
    .boxConnect2 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: #7f8cff;
      margin: 0;
      padding-top: 12px;
      display: flex;
      padding-bottom: 13px;
    }
    
    .boxSociall2 {
      margin: 0;
      display: flex;
      margin-top: 5px;
      list-style: none;
      padding-left: 5px;
      column-gap: 25px;
      padding-bottom: 13px;
    }
    
    .langu {
      display: flex;
      flex-direction: column; 
    }
    
    .langu ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }
    
    .languag .fLi {
      display: flex;
      flex-direction: row;
    }

    .languag .fLi li {
      padding: 5px;
      width: 25%;
    }

    .languag .fLi img {
      size: 10%;
    }

    .languag li img {
      width: 100%;
    }
    
.bgWhite {
  background-color: #fff;
}

    .contactMe {
      color: #fff;
      padding-top: 103px;
    
      /* margin: 24px; */
      text-align: center;
      font-family: 'poppins', sans-serif;
      background-color: #396df2;
      height: 779px;
      border-top-left-radius: 80px;
      background-image: url("images/contact.svg");
      background-repeat: no-repeat;
      background-position: right;
    }
    
    .contactMe h1 {
      font-weight: 700;
      font-size: 40px;
    }
    
    .contactMe p {
      margin: 12px 24px;
      font-size: 20px;
      font-weight: 400;
      padding: 0 202px;
    }
    
    .contactMe .form {
      width: 327px;
      margin: auto;
    }
    
    .contactMe .form-control {
      margin: 10px auto;
    }
    
    .contactMe input {
      border-radius: 8px;
      width: 100%;
      height: 48px;
      margin: 14px 0;
      padding: 10px;
    }
    
    .contactMe textarea {
      border-radius: 8px;
      width: 100%;
      height: 170px;
      margin: 14px 0;
      padding: 10px;
    }
    
    .contactMe .buttonThree {
      display: block;
      flex-direction: row;
      align-items: center;
      padding: 12px 16px;
      background: #fff;
      border-radius: 8px;
      color: #396df2;
      font-weight: 500;
      font-size: 17px;
      line-height: 24px;
      /* margin-top: 8px; */
      margin: auto;
    }
    
    .buttonThree:hover {
      color: white;
      background-color: #396df2;
    }
  }


